<nav>
  <a href="index.html" class="button">Intro</a>
  <a href="text-formatting.html" class="button">Text Formatting</a>
  <a href="latex-math-mode.html" class="button">LaTeX Math Mode</a>
  <a href="mermaid.html" class="button">mermaid</a>
  <a href="chartjs.html" class="button">Chart.js</a>
  <a href="flowchartjs.html" class="button">flowchart.js</a>
  <a href="js-sequence-diagrams" class="button">js-sequence-diagrams</a>
  <a href="ditaa.html" class="button">ditaa</a>
  <a href="plantuml.html" class="button">PlantUML</a>
</nav>
